:root {
  --bg-rgb: 255, 255, 255;
  --text-rgb: 0, 0, 0;
  --bg--invert-rgb: 0, 0, 0;
  --text--invert-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-rgb: 0, 0, 0;
    --text-rgb: 255, 255, 255;
    --bg--invert-rgb: 255, 255, 255;
    --text--invert-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  background-color: rgb(var(--bg-rgb));
  color: rgb(var(--text-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 1em;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
