.main {
  position: relative;
  min-height: 100vh;
  max-width: 100%;
  margin-top: 5em;
  padding: 1em;
  display: flex;
}

@media only screen and (max-width: 899px) {
  .main {
    margin-top: 8em;
  }
}

.visualizations {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  border-bottom: var(--border-light);
  background-color: rgb(var(--bg-rgb));
  z-index: 10;
}

@media only screen and (max-width: 899px) {
  .header {
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }
}

.buttons {
  display: flex;
  gap: 2em;
}
