.bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(var(--bg-rgb), 0.7);
}

.body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(var(--bg-rgb));
  border: 1px solid rgb(var(--text-rgb));
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.selected {
  background-color: rgb(var(--bg--invert-rgb));
  color: rgb(var(--text--invert-rgb));
}
