.bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(var(--grey-rgb), 0.4);
  z-index: 100;
}

.body {
  position: absolute;
  width: 85vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(var(--bg-rgb));
  border: var(--border-light);
  border-radius: var(--border-radius);
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  box-shadow: 5px 5px 10px rgba(var(--grey-rgb), 0.3);
  z-index: 1000;
}

.msgBody {
  composes: body;
  width: max-content;
  gap: 2em;
  padding: 2em;
}

.h2 {
  align-self: start;
}

.row {
  display: flex;
  gap: 2em;
}

.column {
  composes: row;
  gap: 1em;
  flex-direction: column;
}

.searchBarRow {
  composes: row;
  align-items: center;
  gap: 1em;
}

.searchBarRow span {
  width: 1.5em;
  text-align: center;
}

.inputs {
  composes: column;
  justify-content: space-between;
}

.inputRow {
  composes: row;
  gap: 1em;
}

.seriesRow {
  composes: inputRow;
  height: 1.5em;
  min-width: 0;
  max-width: 18em;
  overflow-x: scroll;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.decimals {
  width: 4em;
}

.colors {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.buttons {
  width: 100%;
  composes: inputRow;
  justify-content: flex-end;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  border-bottom: var(--border-light);
}

.seriesList {
  display: flex;
  flex-direction: column;
  border: var(--border-light);
  border-radius: var(--border-radius);
}

.tableWrap {
  height: var(--max-height-modal);
  overflow: scroll;
}

.thead {
  border-bottom: var(--border-light);
}

.tbody:hover {
  cursor: pointer;
}

.tr {
  border-top: var(--border-light);
}

.tr:first-child {
  border-top: none;
}

.tr:hover {
  background-color: rgba(var(--grey-rgb), 0.05);
}

.td {
  padding: 1em;
  font-weight: var(--font-light);
}

.tdBold {
  composes: td;
  font-weight: var(--font-bold);
}

.td span {
  margin-left: 0.25em;
  font-weight: inherit;
}

.th {
  composes: td;
  font-weight: var(--font-bold);
}

.tdSelected {
  composes: td;
  background-color: rgb(var(--blue-rgb));
  color: rgb(var(--text--invert-rgb));
}
