.table {
  border-collapse: collapse;
}

.td,
.th {
  border: 1px solid rgb(var(--text-rgb));
  padding: 1em;
}

.th {
  max-width: 15em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
