.wrapper {
  max-height: 400px;
  overflow: scroll;
  padding: 1em;
}

.table {
  border-collapse: collapse;
}

.td,
.th {
  border: var(--border-light);
  padding: 1em 1.5em;
}

.th {
  max-width: 15em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
